/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Host Grotesk", sans-serif;
    font-weight: inherit;
    margin: 0;
    background-color: #FFB428;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* navigation and hovering */

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 50px;
    color: inherit;
    display: inline-block;
    transition: transform 0.3s ease;
}

.currenthomepage {
    color: #F55536;
    font-weight: bold;
    transform: translateY(-7px); 
}

.currentabout {
    color: #603A5C;
    font-weight: bold;
    transform: translateY(-7px); 
}

.currentworks {
    color: #BCCB88;
    font-weight: bold;
    transform: translateY(-7px); 
}

.currentrequest {
    color: #7C5CE6;
    font-weight: bold;
    transform: translateY(-7px); 
}

/* hover colors */
.index-page nav a:hover {
    color: #F55536;
    font-weight: bold;
    transform: translateY(-10px);
}

.works-page nav a:hover {
    color: #BCCB88;
    font-weight: bold;
    transform: translateY(-10px);
}

.about-page nav a:hover {
    color: #603A5C;
    font-weight: bold;
    transform: translateY(-10px);
}

.request-page nav a:hover {
    color: #7C5CE6;
    font-weight: bold;
    transform: translateY(-10px);
}

nav ul, nav ul li {
    list-style: none;
    font-size: 18px;
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex; 
}

.decorative-line {
    border: none; 
    height: 3.45px; 
    background-color: black;
    margin: 20px 0;
    width: 21rem; 
}

/* header */

.works-page header {
    text-align: center;
    font-family: 'Host Grotesk', sans-serif;
}

.headerhome {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #F55536;
}

.headerabout {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #603A5C;
}

.headerworks {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #BCCB88;
}

.headerrequest {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #7C5CE6;
}

ul {
    font-family: "Host Grotesk", sans-serif;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 20px;
    font-style: normal;
}

ol {
    font-family: "Host Grotesk", sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 20px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: transform 0.3s ease;
}

ol li {
    font-family: "Host Grotesk", sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    padding: 0 30px;
    margin: 0;
    display: flex;
    column-gap: 20px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: transform 0.3s ease;
}

ol a:hover {
    color: #F55536;
    text-decoration: none;
    font-weight: bold;
    transform: translateY(-7px);
}

.homepage-description1 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
    font-style: italic;
    margin: 40px auto 10px;
    padding: 1rem 5rem .1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 140rem;
    text-align: center;
}

.homepage-description2 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
    font-style: italic;
    margin: 40px auto 10px;
    padding: .1rem 5rem 1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 140rem;
    text-align: center;
}

.paragraph1 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.6;
    padding: 0 12.5rem;
    margin: 20px auto;
    max-width: 80rem;
    text-align: left;
    color: white;
}

.paragraph2 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 80rem;
    padding: 0 4rem;
    text-align: center;
    color: black;
}

/* heading tags */

.about-pagetext {
    font-size: 3rem;
    font-family: "Host Grotesk", sans-serif;
    font-weight: bold;
    margin: 40px auto 20px;
    padding: 1rem 2rem;
    width: 80%;
    max-width: 140rem;
    text-align: center;
}

.index-page {
    font-family: "Host Grotesk", sans-serif;
    color: black;
    font-size: 4rem;
    text-align: center;
    margin: 3% 1% 4%;
}

h3 {
    margin: 0 0 0 0;
    font-size: 3rem;
    color: black;
    font-family: "Host Grotesk", sans-serif;
    font-weight: 400;
    text-align: center;
}

h4 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
    font-style: italic;
    margin: 10px auto 50px;
    padding: .1rem 5rem 1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 140rem;
    text-align: center;
}

/* overall page styles */
.works-page {
    background-color: #B26C96;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 3% 1% 4%;
}

.about-page {
    background-color: #6A994E;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 3% 1% 4%;
}

.request-page {
    background-color: #86BBD8;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 3% 1% 4%;
}

.about-page section ul {
    list-style-type: decimal-leading-zero;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0.5rem 3rem;
    margin-top: 25px;
    text-align: center;
}

.about-page h2 {
    font-size: 3rem;
    text-align: center;
    margin: 40px 0 0;
    font-weight: 300;
    font-style: italic;
}

.about-page h3 {
    font-size: 2rem;
    text-align: center;
    margin: 40px 0 -10px;
    font-weight: 500;
}

.about-page section ul li {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    list-style-position: inside;
}

.index-page div img {
    padding: 10px;
    max-width: 175px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: inline-block;
    transition: transform 0.3s ease;
}

.index-page figure {
    float: right; 
    width: 50%; 
    margin: 10px; 
    height: auto; 
}

.index-page figure img {
    width: 100%; 
    height: auto;
}

.index-page figure figcaption {
    text-align: center; 
    font-style: italic; 
}

dl { 
    text-align: center;
    margin: 0 auto; 
    padding: 0;
}

dl li{
    display: flex;
    font-size: 1.2rem;
    color: white;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 20px;
    text-align: left;
}
    
dt, dd {
    display: block;
    text-align: center; 
    width: 100%; 
    margin: 0; 
}

dd {
    margin-bottom: 15px;
}

.dldeco1 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    font-style: normal;
    margin: 40px auto 10px;
    padding: 1rem 5rem .1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 140rem;
    text-align: center;
    box-sizing: border-box;
}

.dldeco2 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
    font-style: italic;
    padding: .1rem 5rem 1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 140rem;
    text-align: center;
    box-sizing: border-box;
}

.portfolio-bullets {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.portfolio-bullets-title {
    font-size: 2.4rem;
    color: black;
    padding: 0 14px;
    border: 3.3px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Flexbox container for the list */
.portfolio-bullets-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
    margin: 0;
}

.portfolio-bullets-list li {
    margin-bottom: 30px;
}

.works-page .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.works-page .gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.works-page .gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.works-page .gallery img:hover {
    transform: scale(1.05);
}

.works-page .gallery figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
}











/* FORM */

.center {
    text-align: center;
}

.commissionform fieldset{
    border: 3.45px solid black;
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

.commissionform legend {
    color: #7C5CE6;
    font-size: 1.6rem;
    text-align: center;
}

.commissionform label {
    margin: 3rem;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    
}

.commissionform .purple {
    color: #7C5CE6;
}

.commissionform label, .commissionform select, .commissionform [type=text], .commissionform [type=tel], .commissionform [type=email], .commissionform textarea {
    display: block;
}

.commissionform [type=text], .commissionform [type=tel], .commissionform select, .commissionform [type=email], .commissionform textarea {
    border: 2.8px solid black;
    padding: .3rem;
    width: 250px;
    border-radius: 10px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: bold;
}

.commissionform textarea {
    height: 9rem;
    width: 24rem;
}

.commissionform :required {
    background-color: white;
}

.commissionform [type=submit] {
    background-color: #7C5CE6;
    border: none;
    padding: 1rem 2.2rem;
    border-radius: 10px;
    margin: 0 0 0 3rem;
    color: white;
    font-size: 1.4rem;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: bold; 
}






/* Footer */
footer {
    color: black;
    font-family: "Host Grotesk", sans-serif;
    text-align: center;
    margin-top: 100px;
    clear: both;
    padding: 20px 0;
    text-align: center;
}

.footer-text {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    clear: both;
    font-family: "Host Grotesk", sans-serif;
    font-style: italic;
    display: inline-block;
    transition: transform 0.3s ease;
}

footer p {
    margin: 0;
    font-weight: 900;
    font-size: 1.7rem;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: "Host Grotesk", sans-serif;
    font-weight: 400;
    display: inline-block;
    transition: transform 0.3s ease;
}

footer a:hover {
    color: white;
    font-weight: bold;
    transform: translateY(-10px);
}

p a:hover {
    color: white;
    font-weight: bold;
    transform: translateY(-7px);
}

/* image Transitions and Fitting */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

.image-wrapper {
    flex: 1 1 15%;
    text-align: center;
    max-width: 100%;
}

.image-space {
    width: 100%;
    height: auto;
    max-width: 445px;
    object-fit: cover;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in, .fade-in-on-scroll {
    opacity: 0;
    animation: fadeIn 1s forwards;
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in-on-scroll {
    transform: translateY(34px);
}

.fade-in-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

.content {
    display: block; 
    overflow: auto; 
}

.featured-image {
    float: right; 
    width: 40%;
    height: auto;
    margin: 0 0 20px 20px; 
}

.featured-image img {
    width: 100%; 
    height: auto;
    border: 2px solid black; 
    border-radius: 10px;
}

.featured-image figcaption {
    font-size: 0.9rem; 
    text-align: center;
    color: #444;
    margin-top: 5px;
}
